.download {
  width: 100%;
  background-image: url(/src/assets/svg/download/downvector.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 130px 0px;
  background-color: purple;
}
