.graph__previews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .graph__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .graph__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px;

      .graph__image { 
        width: 400px;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit:contain;
        }
      }
    }
  }
}
