// Fonts Import
@font-face {
  font-family: "Avant-bold";
  src: url("/FrontEnd/src/assets/fonts/AvantGarde-Bold.otf");
}
@font-face {
  font-family: "Avant-light";
  src: url("/FrontEnd/src/assets/fonts/AvantGarde-Book.ttf");
}

// Colors Variables
$primary-body-color: #141a26;
$main-text-color: #ffffff;
$secondary-text-color: #d6d6d6;
$secondary-main-color: #6c63ff;
$disabled-color: #363636;
$secondary-color: #e8b451;
$secondary-body-color: #171e2b;
$hover-color: #2f2c55;

// Fonts Variables
$font-bold: "Avant-bold";
$font-light: "Avant-light";

// Font Sizes
$xl-font-size: 3.125rem;
$l-font-size: 2.5rem;
$m-font-size: 1.875rem;
$s-font-size: 1.5625rem;
$xs-font-size: 1.25rem;
