@font-face {
  font-family: "Avant-bold";
  src: url("/FrontEnd/src/assets/fonts/AvantGarde-Bold.otf");
}
@font-face {
  font-family: "Avant-light";
  src: url("/FrontEnd/src/assets/fonts/AvantGarde-Book.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141a26;
}

a,
a:hover,
a::after,
a::before,
a:visited,
a:focus,
ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  font-family: "Avant-light";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

h1 {
  color: #ffffff;
  font-family: "Avant-bold";
  font-weight: normal;
}

h2 {
  color: #d6d6d6;
  font-family: "Avant-light";
  font-size: 1.5625rem;
  font-weight: lighter;
}

p {
  font-family: "Avant-light";
}

.icons {
  font-size: 15px;
}

.btn {
  width: 200px;
  height: 55px;
  background-color: #6c63ff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  font-family: "Avant-light";
  color: #ffffff;
}
.btn .btn-icon {
  font-size: 20px;
  color: #ffffff;
}
.btn:hover {
  background-color: #2f2c55;
  color: #d6d6d6;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.01), 0px 0px 6.9px rgba(0, 0, 0, 0.018), 0px 0px 14.2px rgba(0, 0, 0, 0.026), 0px 0px 29.2px rgba(0, 0, 0, 0.036), 0px 0px 80px rgba(0, 0, 0, 0.06);
  padding-bottom: 5px;
}
.btn:hover .btn-icon {
  color: #d6d6d6;
}

nav {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 1000;
}
nav .nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .nav__container .nav__menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav .nav__container .nav__menu a {
  font-size: 1.5625rem;
  font-family: "Avant-light";
  color: #ffffff;
  position: relative;
}
nav .nav__container .nav__menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #6c63ff;
  transition: 0.7s;
}
nav .nav__container .nav__menu a:hover {
  color: #d6d6d6;
}
nav .nav__container .nav__menu a:hover::before {
  width: 100%;
  transition: 0.7s;
}
nav .nav__container a h1 {
  font-family: "Avant-light" !important;
  font-size: 1.875rem !important;
  letter-spacing: -1.2px;
}
nav .nav__container a:hover h1 {
  color: #6c63ff;
}

.show-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.hidden-nav {
  position: -webkit-sticky;
  position: sticky;
  top: -20rem;
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home__header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__header .home__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home__header .home__container .home__info {
  display: flex;
  flex-direction: column;
}
.home__header .home__container .home__info h1 {
  max-width: 473px;
  font-size: 3.125rem;
  color: #ffffff;
  font-family: "Avant-bold";
}
.home__header .home__container .home__info h1 span {
  color: #6c63ff;
  font-family: "Avant-light" !important;
}
.home__header .home__container .home__info a {
  padding-top: 25px;
}
.home__header .home__container .home__info h2 {
  font-size: 1.5625rem;
  font-family: "Avant-light" !important;
  color: #d6d6d6;
  letter-spacing: 0px;
}
.home__header .home__container .home__svg svg {
  width: 538px;
  height: 433px;
}

.home__svg svg .pie-chart:hover {
  transform: scale(1.04);
  transform-origin: center;
}

.calculate {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #171e2b;
}
.calculate .calculate__title {
  text-align: center;
}
.calculate .calculate__title h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Avant-bold";
}
.calculate .calculate__title h2 {
  font-size: 1.5625rem;
  color: #d6d6d6;
}
.calculate .calculate__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.calculate .calculate__info .calculate__svg img:hover {
  transform: rotate(360deg);
  transition: 0.7s all ease-in-out;
}
.calculate .calculate__info .calculate__text {
  width: 537px;
  height: 251px;
  border-radius: 10px;
  border: solid 1px #363636;
  background-color: rgba(35, 35, 35, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.calculate .calculate__info .calculate__text p {
  font-size: 18px !important;
  font-family: "Avant-light";
  font-weight: lighter;
  color: #363636;
}
.calculate .calculate__info .calculate__text h3 {
  font-size: 1.25rem;
  color: #ffffff;
  font-family: "Avant-light";
  font-weight: lighter;
}
.calculate .calculate__info .calculate__text h3 span {
  font-family: "Avant-bold" !important;
  font-weight: bold;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  z-index: 5;
}
.calculate .calculate__info .calculate__text h3 span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.63);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: -1;
}

.about {
  width: 100%;
  padding: 200px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}
.about .about__container .about__title {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.about .about__container .about__title h1 {
  font-size: 2.5rem;
  color: #ffffff;
}
.about .about__container .about__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.about .about__container .about__info img:hover {
  transform: scale(1.1);
}
.about .about__container .about__info p {
  font-size: 1.5625rem;
  color: #d6d6d6;
  max-width: 501px;
}
.about .about__container .about__info p span {
  font-family: "Avant-bold";
  font-weight: 500;
  color: #ffffff;
}

.download {
  width: 100%;
  padding: 130px 0px;
  background-color: #171e2b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download .download__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}
.download .download__container .download__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.download .download__container .download__title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: "Avant-bold";
}
.download .download__container .download__title h2 {
  font-size: 1.5625rem;
  font-weight: lighter;
  font-family: "Avant-light";
  color: #d6d6d6;
}
.download .download__container .download__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.download .download__container .download__info .download__text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
}
.download .download__container .download__info .download__text p {
  font-size: 1.5625rem;
  color: #d6d6d6;
  font-weight: lighter;
  font-family: "Avant-light";
  max-width: 520px;
}
.download .download__container .download__info .download__text p span {
  font-family: "Avant-bold" !important;
  font-weight: bold;
  color: #ffffff !important;
}
.download .download__container .download__info .download__text .download__buttons {
  display: flex;
  gap: 20px;
}

.download__vector {
  width: 100%;
  height: 100%;
  font-size: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.download__vector img {
  width: 100%;
  height: 100%;
}

.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.download__btn:hover {
  cursor: not-allowed;
}
.download__btn:hover::before {
  opacity: 100;
  transition: 0.6s ease-in-out;
}
.download__btn::before {
  content: "Very Soon";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.4);
  bottom: 0;
  top: 0;
  color: #ffffff;
  font-weight: lighter;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.prices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 0px;
}
.prices .prices__container {
  display: flex;
  flex-direction: column;
  gap: 85px;
  align-items: center;
  justify-content: center;
}
.prices .prices__container .prices__title {
  text-align: center;
}
.prices .prices__container .prices__title h1 {
  font-size: 2.5rem !important;
  color: #ffffff;
  font-weight: bold;
  font-family: "Avant-bold";
}
.prices .prices__container .prices__title h2 {
  font-size: 1.5625rem;
  color: #d6d6d6;
  font-weight: lighter;
  font-family: "Avant-light";
}
.prices .prices__container .prices__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.prices .prices__container .prices__content .prices__card {
  border: 1px solid #6c63ff;
  border-radius: 15px;
  padding: 38px 21px;
  background-color: #171e2b;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.prices .prices__container .prices__content .prices__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0.8px 9.2px rgba(0, 0, 0, 0.015), 0px 1.8px 18px rgba(0, 0, 0, 0.02), 0px 3.2px 26.7px rgba(0, 0, 0, 0.024), 0px 5.3px 35.9px rgba(0, 0, 0, 0.028), 0px 8.7px 47.4px rgba(0, 0, 0, 0.032), 0px 15.3px 67.6px rgba(0, 0, 0, 0.038), 0px 33px 134px rgba(0, 0, 0, 0.05);
  border: 1px solid #e8b451;
}
.prices .prices__container .prices__content .prices__card:hover .prices-icon {
  color: #e8b451 !important;
}
.prices .prices__container .prices__content .prices__card:hover .prices__card-title h1 span {
  color: #e8b451 !important;
}
.prices .prices__container .prices__content .prices__card .prices__card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.prices .prices__container .prices__content .prices__card .prices__card-title h1 {
  font-size: 1.875rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Avant-bold";
}
.prices .prices__container .prices__content .prices__card .prices__card-title h2 {
  font-size: 1.25rem;
  color: #d6d6d6;
  font-family: "Avant-light";
  font-weight: lighter;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers {
  display: flex;
  align-items: center;
  justify-content: left;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul li {
  font-size: 1.25rem;
  font-weight: lighter;
  font-family: "Avant-light";
  color: #ffffff;
  display: flex;
  gap: 5px;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul li a {
  font-family: "Avant-bold";
  font-weight: bold;
  color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul li a:hover {
  color: #d6d6d6 !important;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul li a:hover::before {
  width: 100%;
  transition: 0.6s ease-in-out;
}
.prices .prices__container .prices__content .prices__card .prices__card-offers ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #6c63ff;
  transition: 0.6s ease-in-out;
}
.prices .prices__container .prices__content .prices__card .prices__card-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.prices .prices__container .prices__content .prices__card .prices__card-info .price-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
.prices .prices__container .prices__content .prices__card .prices__card-info .price-wrapper h1 {
  font-size: 1.5625rem;
  color: #ffffff;
  font-family: "Avant-bold";
  font-weight: bold;
}
.prices .prices__container .prices__content .prices__card .prices__card-info .price-wrapper h2 {
  font-size: 1.5625rem;
  color: #d6d6d6;
  font-weight: lighter;
  font-family: "Avant-light";
}
.prices .prices__container .prices__content .prices__card .prices__card-info .price-wrapper h2 span {
  font-size: 1.25rem;
}

.prices-icon {
  font-size: 20px;
  color: #6c63ff !important;
}

.upload__header {
  width: 100%;
  padding: 50px 0px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
}
.upload__header .upload__title {
  text-align: center;
}
.upload__header .upload__info {
  width: 537px;
  height: 394px;
  background-color: rgba(35, 35, 35, 0.6);
  border: 1px solid #363636;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.upload__header .upload__info .upload__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 30px;
}
.upload__header .upload__info .upload__content p {
  font-size: 1.25rem;
  color: #363636;
  font-weight: lighter;
  font-family: "Avant-light";
}
.upload__header .upload__info .upload__content h3 {
  font-size: 1.25rem;
  color: #ffffff;
  font-family: "Avant-light";
  font-weight: lighter;
}
.upload__header .upload__info .upload__content h3 span {
  font-family: "Avant-bold" !important;
  font-weight: bold;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  z-index: 5;
}
.upload__header .upload__info .upload__content h3 span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.63);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: -1;
}
.upload__header .upload__info .upload__content .upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.upload__header .upload__info .upload__premium {
  width: 100%;
  height: 100%;
  background-color: #363636;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
.upload__header .upload__info .upload__premium h1 {
  font-size: 1.25rem;
  font-weight: lighter;
  font-family: "Avant-light";
  color: #ffffff;
}
.upload__header .upload__info .upload__premium h1 span {
  font-family: "Avant-bold";
  font-weight: bold;
}

.graph__previews {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-bottom: 60px;
}
.graph__previews .graph__title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.graph__previews .graph__title h1 {
  font-size: 2.5rem;
  font-family: "Avant-bold";
  font-weight: bold;
}
.graph__previews .graph__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.graph__previews .graph__container .graph__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.graph__previews .graph__container .graph__cards .graph__content {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.graph__previews .graph__container .graph__cards .graph__content h1 {
  font-size: 1.5625rem;
  color: #ffffff;
  font-weight: lighter;
  font-family: "Avant-light";
}
.graph__previews .graph__container .graph__cards .graph__content .graph__img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
}
.graph__previews .graph__container .graph__cards .graph__content .graph__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tools__header {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools__header .tools__container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 90px;
}
.tools__header .tools__container .tools__title {
  width: 100%;
}
.tools__header .tools__container .tools__title h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Avant-bold";
  font-weight: bold;
}
.tools__header .tools__container .tools__title h2 {
  font-size: 1.5625rem;
}
.tools__header .tools__container .tools__title h2 span {
  color: #ffffff;
  font-family: "Avant-light";
  letter-spacing: -2px;
}
.tools__header .tools__container .tools__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 100px;
}
@media only screen and (max-width: 1040px) {
  .tools__header .tools__container .tools__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.tools__header .tools__container .tools__wrapper .tools__card {
  width: 490px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
}
.tools__header .tools__container .tools__wrapper .tools__card:hover {
  transform: scale(1.1);
  z-index: 50;
  box-shadow: 0px 0.6px 3px rgba(0, 0, 0, 0.008), 0px 1.4px 7.1px rgba(0, 0, 0, 0.012), 0px 2.6px 13.4px rgba(0, 0, 0, 0.015), 0px 4.7px 23.9px rgba(0, 0, 0, 0.018), 0px 8.8px 44.7px rgba(0, 0, 0, 0.022), 0px 21px 107px rgba(0, 0, 0, 0.03);
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__subtitle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  top: 0;
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__subtitle-container:hover {
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__subtitle-container:hover h1 {
  letter-spacing: 0.1rem;
  color: #e8b451;
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__subtitle-container h1 {
  font-size: 1.875rem;
  font-family: "Avant-bold";
  font-weight: bold;
  color: #ffffff;
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tools__header .tools__container .tools__wrapper .tools__card .tools__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  padding: 100px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171e2b;
}
footer .footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
footer .footer__container .footer__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
footer .footer__container .footer__info img {
  width: 91px;
  height: 96px;
}
footer .footer__container .footer__info ul {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
footer .footer__container .footer__info ul a {
  font-size: 1.5625rem;
  color: #ffffff;
  font-weight: lighter;
  font-family: "Avant-light";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer__container .footer__info ul a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #6c63ff;
  transition: 0.7s;
}
footer .footer__container .footer__info ul a:hover {
  color: #d6d6d6;
}
footer .footer__container .footer__info ul a:hover::before {
  width: 100%;
  transition: 0.7s;
}
footer .footer__container .footer__info .footer__socials {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
footer .footer__container .footer__info .footer__socials .socials {
  font-size: 35px;
  color: #ffffff;
}
footer .footer__container .footer__info .footer__socials .socials:hover {
  color: #6c63ff;
}

.footer__credits {
  padding-bottom: 10px;
}
.footer__credits h2 {
  color: #d6d6d6;
  font-size: 1.25rem;
  font-family: "Avant-light";
  font-weight: lighter;
}
.footer__credits h2 a {
  font-size: 1.25rem;
  letter-spacing: -1px;
  color: #ffffff !important;
  position: relative;
}
.footer__credits h2 a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #6c63ff;
  transition: 0.7s;
}
.footer__credits h2 a:hover {
  color: #d6d6d6;
}
.footer__credits h2 a:hover::before {
  width: 100%;
  transition: 0.7s;
}/*# sourceMappingURL=style.css.map */